.nav {
  height: 80px;
  background: rgb(73, 59, 59);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.button {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  width: 4.5em;
  margin: 3%;
}
.button:hover {
  background: rgb(185, 169, 169);
}